{% extends 'dashboard.html.twig' %}

{% block body_title %}Member{% endblock %}
{% block body %}
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-graduation-cap fa-fw"></i>

                <div class="btn-group pull-right">
                    <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-chevron-down"></i>
                    </button>
                    <ul class="dropdown-menu slidedown">
                        <li>
                            <a href="{{ path("harproject_app_management_member") }}"><i class="fa fa-graduation-cap fa-fw"></i> Member</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="panel-body">
                <form action="{{ path('harproject_app_management_member_create') }}" {{ form_enctype(form) }} method="POST">
                    <fieldset>
                        <div class="form-group">
                            {{ form_label(form.user) }}
                            {{ form_widget(form.user, { 'attr': {'class': 'form-control'} }) }}
                            {% if form.user.vars.errors|length %}<div class="alert alert-danger">{{ form_errors(form.user)}}</div>{% endif %}
                        </div>
                        <div class="form-group">
                            {{ form_label(form.project) }}
                            {{ form_widget(form.project, { 'attr': {'class': 'form-control'} }) }}
                            {% if form.project.vars.errors|length %}<div class="alert alert-danger">{{ form_errors(form.project)}}</div>{% endif %}
                        </div>
                        <div class="form-group">
                            {{ form_label(form.group) }}
                            {{ form_widget(form.group, { 'attr': {'class': 'form-control'} }) }}
                            {% if form.group.vars.errors|length %}<div class="alert alert-danger">{{ form_errors(form.group)}}</div>{% endif %}
                        </div>
                    </fieldset>
                    {{ form_widget(form._token) }}
                    <div>
                        <input type="submit" class="btn btn-lg btn-success btn-block" value="Create" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
                        
{% endblock %}
