<ul class="dropdown-menu dropdown-tasks">
    
    {% for entity in entities %}
    <li>
        <a href="{{ path("harproject_app_dashboard_task_selected_task", {id: entity.id}) }}">
            {% set percent = ((entity.task.spentTime+1)/(entity.task.estimatedTime+1)*100)|round %}
            
            <div>
                <p>
                    <strong>{{entity.task.name}}</strong>
                    <span class="pull-right text-muted">{{percent}}% Complete</span>
                </p>
                <div class="progress progress-striped active">
                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="{{percent}}" aria-valuemin="0" aria-valuemax="100" style="width: {{percent}}%">
                        <span class="sr-only">{{percent}}% Complete</span>
                    </div>
                </div>
            </div>
        </a>
    </li>
    <li class="divider"></li>
    {% endfor %}
    <li>
        <a class="text-center" href="{{ path("harproject_app_dashboard_task_selected_tasks") }}">
            <strong>See All Tasks</strong>
            <i class="fa fa-angle-right"></i>
        </a>
    </li>
</ul>