{% extends 'dashboard.html.twig' %}

{% block body_title %}User{% endblock %}
{% block body %}
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-user fa-fw"></i>

                <div class="btn-group pull-right">
                    <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-chevron-down"></i>
                    </button>
                    <ul class="dropdown-menu slidedown">
                        <li>
                            <a href="{{ path("harproject_app_user") }}"><i class="fa fa-user fa-fw"></i> User</a>
                        </li>
                        <li>
                            <a href="{{ path("harproject_app_user_delete" , {"id": entity.id}) }}"><i class="fa fa-trash fa-fw"></i> Delete</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="panel-body">
                <div class="col-lg-12">
                    <div class="col-lg-2">Email</div>
                    <div class="col-lg-10">{{ entity.email }}</div>
                </div>
                <div class="col-lg-12">
                    <div class="col-lg-2">Project</div>
                    <ul class="col-lg-10">
                        {% for member in entity.members %}
                            <li>
                                {{member.project.name}} / {{member.group.label}}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
                       
{% endblock %}
