{% extends 'dashboard.html.twig' %}

{% block body_title %}Project{% endblock %}
{% block body %}
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-tasks fa-fw"></i>

                <div class="btn-group pull-right">
                    <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-chevron-down"></i>
                    </button>
                    <ul class="dropdown-menu slidedown">
                        <li>
                            <a href="{{ path("harproject_app_task") }}"><i class="fa fa-list-ul fa-fw"></i> Task</a>
                        </li>
                        <li>
                            <a href="{{ path("harproject_app_task_new") }}"><i class="fa fa-plus fa-fw"></i> New task</a>
                        </li>
                        <li>
                            <a href="{{ path("harproject_app_task_edit" , {"id": entity.id}) }}"><i class="fa fa-edit fa-fw"></i> Edit</a>
                        </li>
                        <li>
                            <a href="{{ path("harproject_app_task_delete" , {"id": entity.id}) }}"><i class="fa fa-trash fa-fw"></i> Delete</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="panel-body">
                <div class="col-lg-12">
                    <div class="col-lg-2">Project</div>
                    <div class="col-lg-10">{{ entity.project.name }}</div>
                </div>
                <div class="col-lg-12">
                    <div class="col-lg-2">Name</div>
                    <div class="col-lg-10">{{ entity.name }}</div>
                </div>
                <div class="col-lg-12">
                    <div class="col-lg-2">Description</div>
                    <div class="col-lg-10">{{ entity.description }}</div>
                </div>
                <div class="col-lg-12">
                    <div class="col-lg-2">Estimated time</div>
                    <div class="col-lg-10">{{ entity.estimatedTime }}</div>
                </div>
                <div class="col-lg-12">
                    <div class="col-lg-2">Spent time</div>
                    <div class="col-lg-10">{{ entity.spentTime }}</div>
                </div>
                <div class="col-lg-12">
                    <div class="col-lg-2">Created at</div>
                    <div class="col-lg-10">{{ entity.createdat|date('Y-m-d H:i:s') }}</div>
                </div>
                <div class="col-lg-12">
                    <div class="col-lg-2">Updated at</div>
                    <div class="col-lg-10">{{ entity.updatedat|date('Y-m-d H:i:s') }}</div>
                </div>
                <div class="col-lg-12">
                    <div class="col-lg-2">Author</div>
                    <div class="col-lg-10">{{ entity.author.user.username }}</div>
                </div>
            </div>
        </div>
    </div>
</div>
                       
{% endblock %}
